h1 {
  color :  blue;
  text-align:   center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul{
  line-height: 40px;
}
head {
  color: red;
  background-color: blue;
}
li {
  font-style: oblique;
  font-family: fantasy;
  line-height: 40px;
}
